@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Apercu';
  src: url('fonts/Apercu\ Regular.woff') format('woff');
}

body {
  color: #FFFFFF;
  background-color: #37393A;
  margin: 0;
  font-family: 'Apercu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1200px;
}
